@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #232228;
}

li::marker {
  content: "";
}

#navbar {
  background-color: #9900ff;
}

#navbarItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarItem {
  margin: 1em;
  text-align: center;

  color: white;
}

.navbarItem:hover {
  color: #232228;
}

.navbarItem.right {
  margin-left: auto;
}

.navbarIcon {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 10vw;

  border-radius: 25%;
}
.navbarIconContainer {
  margin: 0;
  margin-left: 1em;
}
