@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #232228;
}

h1,
h2,
h3,
p {
  margin-left: 1em;
  margin-top: 1em;
}

h1 {
  font-size: 18pt;
  font-weight: 900;
}

li::marker {
  content: "";
}

#navbar {
  background-color: #9900ff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#navbarItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarItem {
  margin: 1em;
  text-align: center;

  color: white;
}

.navbarItem:hover {
  color: #232228;
}

.navbarItem.right {
  margin-left: auto;
}

.navbarIcon {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 10vw;

  border-radius: 25%;
}
.navbarIconContainer {
  margin: 0;
  margin-left: 1em;
}
